.App {
  padding: 10px;
  max-width: 60%;
  margin: auto;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;

  background-image: url('https://images.unsplash.com/photo-1637325258040-d2f09636ecf6?q=80&w=2835&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D://images.unsplash.com/photo-1603513492128-ba7bc9b3e143?q=80&w=2886&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1)

}